body{
	color: #4A4A4A;	
}
.header {
    width: auto;
    height: 100px;
    text-align: left;
    color: #4A4A4A;
    margin-top: 60px;
    margin-left: 100px;
    margin-right: 100px;
}

ul {
    list-style-type: none;
    margin: 0 0;
    padding: 0;
    overflow: hidden;
}

li a {
    /*display: block;*/
    color: #212121;
    font-family: Montserrat;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    /*background-color: #111;*/
    text-decoration: underline;
}


.type{
	text-decoration: underline;
}
.heading{
	font-family: Montserrat;
	font-size: 70px;
}
.importantText{
    font-size: 30px	;
}
.intro{
    display: block;
    text-align: center;
    padding: 30px;
}
.enkBackground{
    /*width: 100%;*/
    background: url("img/enkBackground.jpg") no-repeat center;
    margin: 0 -30px 0 -30px;
}
.workFlowBackground{
    background: url("img/WorkFlowBackground.png") no-repeat center;
}
.title{
	font-family: Montserrat;
	font-weight: bold;
	font-size: 70px;
}
.subtitle{
	font-family: Arvo;
	font-size: 30px;
}
.project{
	/*padding:150px;*/
    padding-top: 20vh;
	padding-bottom: 500px;
}
.content{
	font-family: Arvo;
	font-size: 18px;
	line-height: 2.08;
	/*width: calc(5%*5%*5%);*/
    /*width:calc(100% - 25vw);*/
    max-width: 1100px;
	margin:auto;
	padding: 30px;
	/*padding-top: 50px;
	padding-bottom: 50px;
	/*display: block;
	text-align: center;*/
}
h1{
	/*display: block;*/
    padding: 30px 20px 20px 10px;
    margin:0px;
	text-align: center;
	font-family: Montserrat;
	font-size: 40px;
	line-height: 1.25;
    /*padding-bottom: 90px;*/
	/*text-decoration: underline;*/
}
h2{
	padding-top: 50px;
	font-family: Montserrat;
	text-align: center;
	font-size: 28px;
	font-weight: bold;
	line-height: 1.43;
	color: #4A4A4A;
}
/*p{
	padding-top:20px;
}*/
.highlight{
	color: #007abc;
}
.bullets{
	width: 80%;
	margin: auto;
	/*text-align: center;*/
}
.button {
	width: 245px;
	height: 44px;
	border-radius: 40px;
	border: solid 1px #007abc;
	border: solid 1px var(--cerulean);
}
.tabHighlight{
	color: #007abc;
	margin-left: 80px;
}

#myImg {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

#myImg:hover {opacity: 0.7;}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    /*max-width: 700px;*/
}

/* Caption of Modal Image */
#caption {
    margin: auto;
    display: block;
    width: 80%;
    /*max-width: 700px;*/
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

/* Add Animation */
.modal-content, #caption {    
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)} 
    to {-webkit-transform:scale(1)}
}

@keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
}

/* The Close Button */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

img{
	/*align-self: center;*/
	width: 100%;
    display: block;
    margin: auto;
    /*text-align: -webkit-center;*/
	/*text-align:center;*/
	/*display:block;*/
	/*align-content: center;*/
	/*align="middle"*/
}
.footer{
	font-family: Montserrat;
	font-size: 30px;
	padding-left:100px;
	padding-bottom: 50px;
	/*color: #212121;*/
}
section{
    overflow: hidden;
}
.phone{
	display:none;
}
@media only screen and (max-width: 768px) {
	.comp{
		display:none;
	}
    .phone{
        display: block;
    }
	/*.content{
		display:none;
	}
    section{
        display: none;
    }
    
    img{
        display: block;
        margin:auto;
        max-width:80%;
        height: auto;
    }*/
}
.bull{
    list-style-type: circle;    
}

h4{
    /*padding-top: 50px;*/
    font-family: Montserrat;
    /*font-family: Arvo;*/
    text-align: center;
    font-style: italic;
    font-size: 15px;
    font-weight: normal;
    /*margin-top: -10px;*/
    /*margin-bottom: -20px;*/
    /*line-height: 1.43;*/
    color: #86929E;
}
h3{
    font-family: Montserrat;
    text-align: center;
    font-style: italic;
    font-size: 15px;
    font-weight: normal;
    margin-top: -10px;
    margin-bottom: -20px;
    /*line-height: 1.43;*/
    color: #86929E;
}
li{
    float: none;
}

li ol ul {
    margin:0;
    padding:0;
    overflow: hidden;
}
ol{
    overflow: auto;
}
ul {
    overflow: hidden;
}
.navBar{
    font-family: Montserrat;
    font-size: 20px;
    color: #4A4A4A;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 0px;
    width: 1100px;
    margin:auto;
}
.rightDesc{
    margin: 5px; width: 45%; float: right;
}
.leftDesc{
    margin: 5px; width: 45%; float: left;
}